<div class="brutalist-container">
    <h1 class="smooth-type">Login</h1>
    <form (ngSubmit)="onLogin()">
        <div class="form-group">
            <label for="email" class="brutalist-label">Email:</label>
            <input id="email" type="email" class="brutalist-input" [(ngModel)]="email" name="email"
                placeholder="Enter your email" required />
        </div>
      <br>
    <br>
        <div class="form-group">
            <label for="password" class="brutalist-label">Password:</label>
            <input id="password" type="password" class="brutalist-input" [(ngModel)]="password" name="password"
                placeholder="Enter your password" required />
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="smooth-type">
        <p>Don't have an account?
        <a routerLink="/register" class="btn-link">Register here</a>
    </p>
</div>